@import '../abstract/_variaveis'
.conteudo-game-placar
    display: grid
    justify-content: space-around
    margin-top: 1em
    .active
        border: solid 2px $player1-selected
        scale: 1.1
        transition: .6s ease
    div
        box-shadow: 0 0 3px 1px $preto
        margin: .5em
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        text-align: center
        height: fit-content
        white-space: nowrap
        color: $branco
        text-shadow: 1px 1px 2px $preto
        transition: .6s ease
        &:nth-child(1)
            background-color: $player1
            // estilo de quanto o player estiver selecionado
        &:nth-child(2)
            background-color: $player2
        &:nth-child(3)
            background-color: $player3
        &:nth-child(4)
            background-color: $player4
        p
            &:first-child
                font-size: .9em
            &:last-child
                font-size: 3em
                font-family: $fonte-placar
