@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap')
@font-face
    font-family: 'DSDIGI'
    src: url('../fonts/ds-digit.ttf')

// cores
$verde-1: #41B06E
$verde-2: #8DECB4
$branco: #fff
$preto: #000
$azul-escuro: #141E46
$bege: #FFF5E0

// fontes
$fonte: "Montserrat", sans-serif
$fonte-placar: 'DSDIGI', sans-serif

// cores players
$player1: #ee4848
$player1-selected: #be0909
$player2: #eee34a
$player2-selected: #faea0e
$player3: #39a839
$player3-selected: #0a640a
$player4: #6354e7
$player4-selected: #1c0da1