@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@font-face {
  font-family: "DSDIGI";
  src: url("../fonts/ds-digit.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #41B06E;
  font-family: "Montserrat", sans-serif;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

input, button {
  cursor: pointer;
}

@font-face {
  font-family: "DSDIGI";
  src: url("../fonts/ds-digit.ttf");
}
.cabecalho {
  padding: 0.5em;
}
.cabecalho .cabecalho-link {
  text-decoration: none;
  text-align: center;
  color: #fff;
  font-size: 0.9em;
  white-space: nowrap;
}

@font-face {
  font-family: "DSDIGI";
  src: url("../fonts/ds-digit.ttf");
}
.conteudo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@font-face {
  font-family: "DSDIGI";
  src: url("../fonts/ds-digit.ttf");
}
.conteudo-formulario {
  background-color: #141E46;
  max-width: 95%;
  margin: 0 auto;
  padding: 0.5em;
  color: #fff;
}
.conteudo-formulario fieldset {
  border: none;
}
.conteudo-formulario .conteudo-formulario-categoria {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  gap: 0.2em;
  justify-content: space-around;
}
.conteudo-formulario .conteudo-formulario-categoria .conteudo-formulario-categoria-titulo {
  font-size: 1.3em;
  font-weight: bold;
  grid-column: 1/4;
  margin-bottom: 0.4em;
}
.conteudo-formulario .conteudo-formulario-categoria div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.2em;
  row-gap: 0.2em;
}
.conteudo-formulario .conteudo-formulario-categoria div label {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.9em;
}
.conteudo-formulario .conteudo-formulario-categoria div input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: solid 1px #000;
  width: 100%;
  height: 30px;
  border-radius: 6px;
  background-color: #FFF5E0;
}
.conteudo-formulario .conteudo-formulario-categoria div input:checked {
  background-color: #8DECB4;
}
.conteudo-formulario .conteudo-formulario-dificuldade {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  gap: 0.2em;
  justify-content: space-around;
  margin-top: 1em;
}
.conteudo-formulario .conteudo-formulario-dificuldade .conteudo-formulario-dificuldade-titulo {
  font-size: 1.3em;
  font-weight: bold;
  grid-column: 1/4;
}
.conteudo-formulario .conteudo-formulario-dificuldade div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.2em;
  row-gap: 0.2em;
}
.conteudo-formulario .conteudo-formulario-dificuldade div label {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.9em;
}
.conteudo-formulario .conteudo-formulario-dificuldade div input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: solid 1px #000;
  width: 100%;
  height: 30px;
  border-radius: 6px;
  background-color: #FFF5E0;
}
.conteudo-formulario .conteudo-formulario-dificuldade div input:checked {
  background-color: #8DECB4;
}
.conteudo-formulario .conteudo-formulario-players {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 22%);
  justify-content: space-around;
  margin-top: 1em;
}
.conteudo-formulario .conteudo-formulario-players .conteudo-formulario-players-titulo {
  font-size: 1em;
  font-weight: bold;
  grid-column: 1/5;
  white-space: nowrap;
}
.conteudo-formulario .conteudo-formulario-players div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  justify-self: center;
  align-self: center;
  width: 100%;
  height: 100%;
  row-gap: 0.2em;
}
.conteudo-formulario .conteudo-formulario-players div label {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.65em;
  white-space: nowrap;
}
.conteudo-formulario .conteudo-formulario-players div input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: solid 1px #000;
  width: 80%;
  height: 20px;
  border-radius: 6px;
  background-color: #FFF5E0;
}
.conteudo-formulario .conteudo-formulario-players div input:checked {
  background-color: #8DECB4;
}
.conteudo-formulario .conteudo-formulario-btnIniciarJogo {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  gap: 0.5em;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.2em 0;
  margin-top: 0.4em;
  border-radius: 20px;
  background-color: #41B06E;
  color: #fff;
  letter-spacing: 2px;
  text-shadow: 2px 2px 3px #000;
}

@font-face {
  font-family: "DSDIGI";
  src: url("../fonts/ds-digit.ttf");
}
.conteudo-formulario-caixaDeMensagem {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: -moz-fit-content;
  height: fit-content;
  gap: 1em;
  background-color: red;
  padding: 0.5em;
  border-radius: 12px;
  background-color: #41B06E;
  box-shadow: 2px 2px 4px 2px #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.conteudo-formulario-caixaDeMensagem .conteudo-formulario-caixaDeMensagem-mensagem {
  font-size: 1.2em;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 2px #000;
}
.conteudo-formulario-caixaDeMensagem .conteudo-formulario-caixaDeMensagem-botao {
  width: 100%;
  font-size: 1.4em;
  font-weight: bold;
  padding: 0.2em 0;
  background-color: #141E46;
  color: #fff;
  text-shadow: 1px 1px 2px #000;
}

.conteudo-game {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 95%;
  margin: 0 auto;
}

@font-face {
  font-family: "DSDIGI";
  src: url("../fonts/ds-digit.ttf");
}
.conteudo-game-placar {
  display: grid;
  justify-content: space-around;
  margin-top: 1em;
}
.conteudo-game-placar div {
  box-shadow: 0 0 3px 1px #000;
  margin: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: -moz-fit-content;
  height: fit-content;
  white-space: nowrap;
  color: #fff;
  text-shadow: 1px 1px 2px #000;
  transition: 0.6s ease;
}
.conteudo-game-placar div:nth-child(1) {
  background-color: #ee4848;
}
.conteudo-game-placar div:nth-child(2) {
  background-color: #eee34a;
}
.conteudo-game-placar div:nth-child(3) {
  background-color: #39a839;
}
.conteudo-game-placar div:nth-child(4) {
  background-color: #6354e7;
}
.conteudo-game-placar div p:first-child {
  font-size: 0.9em;
}
.conteudo-game-placar div p:last-child {
  font-size: 3em;
  font-family: "DSDIGI", sans-serif;
}

@font-face {
  font-family: "DSDIGI";
  src: url("../fonts/ds-digit.ttf");
}
.conteudo-game-form {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 1.5em;
}
.conteudo-game-form label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(0, -50%);
  display: none;
}
.conteudo-game-form input {
  height: 30px;
  border-radius: 10px;
  padding-left: 0.5em;
  font-size: 1.1em;
  font-size: 1em;
}
.conteudo-game-form button {
  position: absolute;
  right: 0;
  font-size: 0.9em;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 0.3em;
  height: 90%;
  top: 50%;
  transform: translate(0, -50%);
  background-color: #41B06E;
  color: #fff;
  text-shadow: 1px 1px 2px #000;
}

@font-face {
  font-family: "DSDIGI";
  src: url("../fonts/ds-digit.ttf");
}
.conteudo-game-dicas {
  padding: 0.5em;
  display: grid;
  grid-template-columns: 70% 1fr;
  gap: 0.5em;
  background-image: url(../imgs/grama.png);
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 0 3px 1px #000;
  margin: 1.5em 0;
}
.conteudo-game-dicas .conteudo-game-dicas-resposta {
  font-size: 1.1em;
  align-self: center;
  justify-self: center;
  background-color: #fff;
  width: 100%;
  text-align: center;
  padding: 0.2em 0;
  height: 25px;
}
.conteudo-game-dicas .conteudo-game-dicas-resposta p {
  display: none;
}
.conteudo-game-dicas .conteudo-game-dicas-categoria {
  font-size: 0.8em;
  background-color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
}
.conteudo-game-dicas .conteudo-game-dicas-categoria p {
  font-weight: bold;
}
.conteudo-game-dicas .conteudo-game-dicas-lista {
  grid-column: 1/3;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.4em;
}
.conteudo-game-dicas .conteudo-game-dicas-lista .conteudo-game-dicas-lista-item {
  background-color: #8DECB4;
  padding: 0.2em;
  font-size: 0.95em;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  display: grid;
  grid-template-columns: 30px 1fr;
  gap: 0.3em;
}
.conteudo-game-dicas .conteudo-game-dicas-lista .conteudo-game-dicas-lista-item .numero-dica {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  background-color: #fff;
  font-weight: bold;
  box-shadow: 0 0 2px 1px #000;
}
.conteudo-game-dicas .conteudo-game-dicas-lista .conteudo-game-dicas-lista-item .container-dica {
  background-color: #fff;
  box-shadow: 0 0 2px 1px #000;
}
.conteudo-game-dicas .conteudo-game-dicas-lista .conteudo-game-dicas-lista-item .container-dica p {
  display: none;
  line-height: 1.1;
  padding: 0.2em 0.4em;
}

@font-face {
  font-family: "DSDIGI";
  src: url("../fonts/ds-digit.ttf");
}
.conteudo-ancora {
  display: none;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #141E46;
  color: #fff;
  padding: 0.3em 0.6em;
  text-decoration: none;
  border-radius: 6px;
  margin-left: auto;
  margin-right: 5%;
  margin: 0em 5% 1.5em auto;
  -moz-column-gap: 0.5em;
       column-gap: 0.5em;
  font-weight: bold;
}

@font-face {
  font-family: "DSDIGI";
  src: url("../fonts/ds-digit.ttf");
}
.rodape {
  background-color: #141E46;
  color: #fff;
  padding: 0.5em;
  font-size: 1.1em;
  text-align: center;
}/*# sourceMappingURL=style.css.map */